.LadoDerecho{
    margin: 0px;
}
.LadoIzquierdo{
    color: white;
}
.ContenidoLadoDerecho{
    margin-top: 45px;
    margin-left: 25px;
}
.LineaSeparar{
    background-color: black;
    height: 5px;
    margin-left: 25px;
    margin-right: 35px;
    border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
}
.ContenedorPrincipal{
    margin-top: 40px;
}
.FotoHeri{
    width: 100%;
}
.TextoVerde{
    color: aqua;
}
.ParrafoPerfil{
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 40px;
    text-align: justify;
}
.Nombre{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Oswald';
}
.Ocupacion{
    text-align: center;
}
.Habilidades{
    position:relative;
    top:40px;
    left:60%;
    transform:translateX(-50%);
}
.HabilidadesTexto{
    margin-top: 180px;
}
.TrabajoEquipo{
    margin-left: 20px;
}
.TrabajoEquipo{
    margin-right: -15px;
}
.Oswald{
    font-family: 'Oswald';
}